.header{
  overflow: hidden;
  padding: 20px 20px;
  background-color: whitesmoke;
}
.header a{
  float: left;
  color: #222629;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.header a.logo{
  font-size: x-large;
  font-family: Georgia;
  font-weight: bold;
}
.header a:hover{
  background-color: lightgray;
}
.header a.active{
  background-color: lightseagreen;
  color:white;
}
.headerright{
  float: right;
}




.footer{
  overflow: hidden;
  padding: 20px 20px;
  background-color: whitesmoke;
  clear: both;
  position: relative;
  top:200px;
}
.footer a{
  float: left;
  color: #222629;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.footer a.logo{
  font-size: x-large;
  font-family: Georgia;
  font-weight: bold;
}
.footer a:hover{
  background-color: lightgray;
}
.footer a.active{
  background-color: lightseagreen;
  color:white;
}
.footerright{
  float: right;
}
.phone{
  box-sizing: border-box;
  border: 1px solid #222629;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
  text-align: center;
  height: 100px;
  width: 300px;
  justify-content: center;
}
.email{
  box-sizing: border-box;
  border: 2px solid #222629;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
  text-align: center;
  height: 100px;
  width: 300px;
  justify-content: center;
  float: right;
  position: relative;
  bottom: 100px;
}
.socials{
  box-sizing: border-box;
  border: 2px solid #222629;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
  text-align: center;
  height: 150px;
  width: 300px;
  justify-content: center;
  position: relative;
  top:100px
}
.mail{
  box-sizing: border-box;
  border: 2px solid #222629;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
  text-align: center;
  height: 100px;
  width: 300px;
  justify-content: center;
  float: right;
  bottom: 200px;
}
